<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formular contract</title>
    <link rel="stylesheet" href="contract_style.css" />
  </head>
  <body>
    <h1>Formular contract</h1>
    <form id="contractForm" action="/generate_contract" method="POST">
      <label for="companyName">Nume companie:</label>
      <input
        type="text"
        id="companyName"
        name="companyName"
        required
      /><br /><br />

      <label for="contact">Contact:</label>
      <input type="text" id="contact" name="contact" required /><br /><br />

      <!-- Adaugă alte câmpuri pentru datele contractului -->

      <button type="submit">Generare PDF</button>
    </form>

    <script src="script.js"></script>
  </body>
</html>
